*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Itim", cursive;
}

html{
    font-size: 62.5%;
}

body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/minimalistic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.background{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 3rem;
}

.display{
    color: #ffffff;
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.app-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 370px;
}

.grid-items{
    position: relative;
    border: 1.5px solid rgba(200, 200, 200, 0.867);
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    min-height: 140px;
    cursor: pointer;
}

.circle{
    position: absolute;
    font-size: 7.5rem;
    color: #09C372; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.x{
    position: absolute;
    font-size: 7.5rem;
    color: #498AFB; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display .display-player{
    color: #09C372;
    font-size: 2.5rem;
}

.display .display-player.playerX{
    color: #498AFB;
    font-size: 2.5rem;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.controls .display-outcome{
    font-size: 2.5rem;
    color: #fff;
}

.controls #reset {
    display: none;
    background-color: #FF0000;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 2rem;
    margin-left: 1em;
    cursor: pointer;
}
